header {
  display: flex;
  justify-content: space-between;
  width: 96%;
  position: absolute;
  height: 65px;
  padding: 25px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.meme {
  position: absolute;
  left: 65px;
  right: 45px;
  top: 35px;
  bottom: 91.78%;
  size: 5px;
}

.beside-icon {
  position: absolute;
  width: 140.79px;
  height: 24px;
  left: 113px;
  top: 15px;
  font-family:'Karla',sans-serif;
  font-style: normal;
  font-weight: 700px;
  font-size: 23px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #fff;
}

.right-top {
  position: absolute;
  width: 950px;
  height: 14px;
  left: 324px;
  top: 35px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  text-align: right;
  color: #fff;
}

.border-box {
  box-sizing: border-box;
  position: absolute;
  width: 230px;
  height: 35px;
  left: 46px;
}

.shut {
  box-sizing: border-box;
  position: absolute;
  width: 460px;
  height: 35px;
  left: 135px;
  top: 150px;
  padding: 8px 22px;
  border: 2px solid #d5d4d8;
  border-radius: 5px;
}

.money {
  box-sizing: border-box;
  position: absolute;
  width: 480px;
  height: 35px;
  left: 640px;
  top: 150px;
  padding: 8px 22px;
  border: 2px solid #d5d4d8;
  border-radius: 5px;
}

.gallery {
  position: absolute;
  left: 391px;
  top: 20px;
}

.meme-images {
  padding: 10px;
  position: absolute;
  width: 970px;
  height: 40px;
  left: 180px;
  top: 230px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
}

.meme-full-image {
  position: absolute;
  width: 477px;
  height: 268px;
  left: 180px;
  top: 320px;
}

.get-some-money {
  width: 995px;
  padding-bottom: 20px;
}

.shut-up {
  position: absolute;
  width: 106px;
  height: 39px;
  left: 450px;
  top: 80px;
  font-family: 'Impact', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  border: 2px solid #000;
}

.and-take-my-money {
  position: absolute;
  width: 345px;
  height: 45px;
  left: 225px;
  top: 460px;
  font-family: 'Impact', sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 42px;
  color: lightpink;
  border: 2px solid #000;
}
